[general]
bindport=4569
;bindaddr=192.168.0.1
iaxcompat=yes
language=jp
bandwidth=medium
disallow=all
allow=ulaw
allow=gsm
jitterbuffer=no
;dropcount=2
;maxjitterbuffer=500
;maxexcessbuffer=80
;minexcessbuffer=10
;jittershrinkrate=1
tos=lowdelay
;mailboxdetail=yes

[201]
type=friend
username=201
secret=pass
host=dynamic
callgroup=1
pickupgroup=1
mailbox=201

[202]
type=friend
username=202
secret=pass
host=dynamic
callgroup=1
pickupgroup=1
mailbox=202

[203]
type=friend
username=203
secret=pass
host=dynamic
callgroup=1
pickupgroup=1
mailbox=203

[204]
type=friend
username=204
secret=pass
host=dynamic
callgroup=1
pickupgroup=1
mailbox=204

[205]
type=friend
username=205
secret=pass
host=dynamic
callgroup=1
pickupgroup=1
mailbox=205

[206]
type=friend
username=206
secret=pass
host=dynamic
callgroup=1
pickupgroup=1
mailbox=206

[207]
type=friend
username=207
secret=pass
host=dynamic
callgroup=1
pickupgroup=1
mailbox=207

[208]
type=friend
username=208
secret=pass
host=dynamic
callgroup=1
pickupgroup=1
mailbox=208

[208]
type=friend
username=208
secret=pass
host=dynamic
callgroup=1
pickupgroup=1
mailbox=208
